@import "tailwindcss";

@source "../components";
@source "../app";

@theme {
  --color-paninos-yellow: #FFDE59;
  --color-paninos-dark: #121212;
  --color-paninos-card: #1E1E1E;

  --font-oswald: var(--font-oswald), sans-serif;
  --font-roboto: var(--font-roboto), sans-serif;

  --font-sans: var(--font-roboto), ui-sans-serif, system-ui;
  --font-display: var(--font-oswald), ui-sans-serif, system-ui;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-paninos-dark);
  color: white;
}

/* Hide Next.js development indicator */
#__next-build-watcher {
  display: none !important;
}

nextjs-portal {
  display: none !important;
}